.daogouqingdan{
	text-align: center;
	margin-top: 50px;
}
.daogouqingdan a{
	font-size: 42px;
	text-decoration: none;
	color: black;
}
.center-top{
	width: 300px;
	margin: 0 auto;
	margin-top: 30px;
	height: 40px;
}
.center-top span{
	height: 37px;
	font-size: 18px;
	display: inline-block;
	width: 145px;
	text-align: center;
	color: #bebbcc;
}
.center-top-span{
	color: orangered !important;
	border-bottom: 3px solid orangered;	
}
.center-row{
	width: 1000px;
	margin: 0 auto;
}
.center-row ul:after{
	display: block;
	content: " ";
	clear: both;
}
.center-row li{
	border-radius: 5%;
	border: 1px solid #e9e9e9;
	height: 230px;
	float: left;
	width: 218px;
	margin-right: 40px;
	margin-top: 20px;
}
.center-row li:nth-child(4n+4){
	margin-right: 0px;
}
.row-top img{
	width: 100%;
}
.row-buttom{
	width: 200px;
	margin: 0 auto;
	display: block;
	content: " ";
	clear: both;
}
.row-buttom p:nth-child(2){
	color: #92a3ab;
}
.row-buttom span:nth-child(1){
	float: left;
	color: red;
}
.row-buttom span:nth-child(2){
	float: right;
	color: #cdd5e8;
}
.center-buttom{
	height: 120px;
}
.center-buttom p{
	line-height: 120px;
	color: orangered;
	width: 150px;
	text-align: center;
	margin: 0 auto;
}
.center-buttom p:nth-child(2){
	display: none;
}
.row-top img:hover{
	opacity:0.5;
}
.center-nr{
	width: 100%;
	background-color: #f7f7f7;
}
.center-nr2{
	width: 100%;
	background-color: #f7f7f7;
	display: none;
}
