* {
				list-style-type: none;
				padding: 0;
				margin: 0;
				text-decoration: none;
				color: black;
			}
.box{
	width: 1000px;
	margin: 0 auto;
}
.box{
	clear: both;
	content: "";
	display: block;
}
.box-left{
	float: left;
}
.box-right{
	float: right;
}

.box-right ul{
	float: left;
	padding-left:20px ;
	width: 150px;
	height: 100px;
    
}
.box-right ul>li{
	text-align: center;
	padding-top: 10px;
}
.box-left{
	width: 600px;
	height: 100px;
	padding-left:20px ;
}
.box-left p:nth-child(1){
	font-size: 25px;
}
.box-left p{
	padding-top: 20px;
}
.box-left span:nth-child(1){
	color: #9E9898;
	font-size: 14px;
}
.box-left span:nth-child(2){
	float: right;
	padding-right: 10px;
	color: #9E9898;
	font-size: 14px;
}
.box-left{
	border-bottom: 1px solid darkgray
}
.yixia{
	width: 1000px;
	margin: 0 auto;
}
.ruxia{
	width: 600px;
}
.ruxia p{
	font-size: 14px;
	color: #3c3926;
}
.xuanyizhi{
	width: 600px;
}
.xuanyizhi p:nth-child(1){
	text-align: center;
	font-size: 18px;
}
.xuanyizhi p:nth-child(2){
	font-size: 14px;
	color: #2d2926;
}
.xuanyizhi img{
	margin-top: 26px;
	width: 600px;
}
.qici{
	width: 600px;
}
.qici p{
	font-size: 14px;
	color: #2d2926;
	margin-top: 26px;
}
.detai2{
	width: 600px;
}
.detai2 img{
	margin-top: 26px;
	width: 600px;
}
.zaizhe{
	width: 600px;
}
.zaizhe p{
	font-size: 14px;
	color: #2d2926;
	margin-top: 26px;
}
.shenme{
	width: 600px;
	margin-top: 32px;
}
.shenme p:nth-child(1){
	text-align: center;
	font-size: 18px;
}
.shenme p:nth-child(3){
	font-size: 14px;
	color: #2d2926;
	padding-top: 26px;
}
.shenme img{
	width: 600px;
	margin-top: 26px;
}
.gangbi{
	width: 600px;
}
.gangbi img{
	width: 600px;
	margin-top: 26px;
}
.feihua{
	width: 600px;
}
.feihua p{
	font-size: 14px;
	color: #2D2926;
	margin-top: 26px;
}
.gangbi1{
	width: 600px;
}
.gangbi1 img{
	width: 600px;
	margin-top: 26px;
}
.erbi{
	width: 600px;
}
.erbi p{
	font-size: 14px;
	color: #2D2926;
	margin-top: 26px;
}
.shang{
	width: 600px;
}
.shang p{
	font-size: 14px;
	color: #2D2926;
	margin-top: 26px;
}
.bishen{
	width: 600px;
}
.bishen p{
	font-size: 14px;
	color: #2D2926;
	margin-top: 26px;
}
.tuijian{
	width: 600px;
}
.tuijian p{
	font-size: 18px;
	text-align: center;
	margin-top: 26px;
}
.yingyu{
	width: 600px;
}
.yingyu p{
	font-size: 14px;
	color: #2D2926;
	margin-top: 26px;
}
.yingyu img{
	width: 600px;
}
.zheshi{
	width: 600px;
}
.zheshi p{
	font-size: 14px;
	color: #2D2926;
	margin-top: 26px;
}
.sanwen{
	width: 600px;
}
.sanwen p:nth-child(1){
	font-size: 14px;
	color: #2D2926;
	margin-top: 26px;
}
.sanwen p:nth-child(2){
	font-size: 14px;
	color: #2D2926;
}
.yingxiong{
	width: 600px;
}
.yingxiong p:nth-child(1){
	font-size: 14px;
	color: #2D2926;
	margin-top: 26px;
}
.yingxiong p:nth-child(2){
	font-size: 14px;
	color: #2D2926;
}
.baijing{
	width: 600px;
}
.baijing p:nth-child(1){
	font-size: 14px;
	color: #2D2926;
	margin-top: 26px;
}
.baijing p:nth-child(2){
	font-size: 14px;
	color: #2D2926;
}
.benzi{
	width: 600px;
}
.benzi img{
	width: 600px;
	margin-top: 26px;
}
.wangang{
	width: 600px;
}
.wangang p{
	font-size: 14px;
	color: #2D2926;
	margin-top: 26px;
}
.yipian{
	width: 600px;
	margin-top: 62px;
}
.yipian p:nth-child(1){
	color: #959597;
	font-size: 14px;
}
.yipian p:nth-child(2){
	color: #959597;
	font-size: 14px;
}
.zailai{
	margin-bottom: 64px;
}
