.swhz-box{
	width: 1000px;
	margin: 50px auto;
}
.swhz-left{
	width: 272px;
	height: 316px;
	float: left;
	background-color: #f3f3f3;
	border-radius: 15px;
}
.cont{
	width: 236px;
	margin: 0 auto;
	padding-top: 26px;
}
.cont h3{
	padding: 8px 20px;
	border-bottom: 2px solid gray;
}
.cont h4{
	padding: 8px 20px;
}
.cont p{
	padding-bottom: 6px;
	padding-left: 32px;
}
.cont h4:nth-child(6){
	margin-top: 22px;
}
.swhz-right{
	width: 700px;
	float: right;
	background-color: #f3f3f3;
}
.right-cont{
	width: 636px;
	padding-top: 26px;
	margin: 0 auto;
}
.right-cont h3{
	padding: 8px 0;
	border-bottom: 2px solid gray;
}
.cont-box1,.cont-box2,.cont-box3,.cont-box4{
	padding-bottom: 30px;
}
.right-cont h4{
	padding: 26px 0;
}
.cont-box4 h3{
	padding: 28px 0;
	border: 0;
}
.cont-box4 p{
	padding-left: 24px;
}
.swhz-right:nth-child(3){
	display: none;
}
.swhz-box:after{
	content: "";
	clear: both;
	display: block;
}